In [8]:
import pandas as pd

file_path = 'personal_finance_employees_V1.csv'
finance_data = pd.read_csv(file_path)

df = pd.read_csv(file_path)

# Calculate the mean of the "Water Bill (£)" column, ignoring NaN values
water_bill_avg = finance_data['Water Bill (£)'].mean()

# Fill NaN values in "Water Bill (£)" with the calculated average
finance_data['Water Bill (£)'] = finance_data['Water Bill (£)'].fillna(water_bill_avg)

finance_data['Water Bill (£)'].isnull().sum()

print(df.head())

     Employee  Monthly Income (£)  Electricity Bill (£)  Gas Bill (£)  \
0  Employee_1             4999.39            120.000000       80.0000
1  Employee_2             4660.24            120.000000       80.0000
2  Employee_3             1942.89            124.679456       98.1346
3  Employee_4             3565.80            120.000000       80.0000
4  Employee_5             5121.99            120.000000       80.0000

   Netflix (£)  Amazon Prime (£)  Groceries (£)  Transportation (£)  \
0           12              4.99      239.69000           149.11000
1           12              4.99      226.24000           197.23000
2           12              4.99      333.77745           201.27956
3           12              4.99      213.04000           154.67000
4           12              4.99      182.56000           190.71000

   Water Bill (£)  Sky Sports (£)  Other Expenses (£)  \
0            40.0            70.0          100.000000
1             NaN            70.0          100.000000
2             NaN            70.0          125.770693
3             NaN             NaN          100.000000
4             NaN            70.0          100.000000

   Savings for Property (£)  Monthly Outing (£)
0                     300.0               120.0
1                     300.0               120.0
2                       NaN               120.0
3                     300.0               120.0
4                     300.0                 NaN